@keyframes color_change {
  from {
    background-color: grey;
  }
  to {
    background-color: indigo;
  }
}
@keyframes moving {
  0% {
    margin-left: 0;
    border-radius: 0;
    background-color: grey;
  }
  50% {
    max-width: 90vw;
    border-radius: 100%;
    background-color: aqua;
    border-radius: 0;
  }
  100% {
    background-color: blue;
    border-radius: 10px;
  }
}
@keyframes mario_walk {
  0% {
    background-position: 0px center;
  }
  25% {
    background-position: -68px center;
  }
  50% {
    background-position: -136px center;
  }
  75% {
    background-position: -204px center;
  }
}
@keyframes mario_move {
  0% {
    transform: translate(-68px, 0);
  }
  48% {
    transform: translate(48vw, 0);
  }
  50% {
    transform: translate(50vw, -50px);
  }
  52% {
    transform: translate(52vw, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}
@keyframes mario_jump {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  48.1% {
    opacity: 1;
    background-position: -272px top;
  }
  52% {
    opacity: 1;
  }
  52.1% {
    opacity: 0;
  }
  100% {
    transform: translate(100vw, 0);
  }
}
@keyframes blast {
  0% {
    opacity: 0;
    background-position: 0 0;
  }
  3% {
    opacity: 1;
    background-position: 0 0;
  }
  6% {
    background-position: -151px 0;
  }
  9% {
    background-position: -302px 0;
  }
  12% {
    background-position: -453px 0;
  }
  15% {
    background-position: -604px 0;
  }
  18% {
    background-position: -755px 0;
  }
  21% {
    background-position: -906px 0;
  }
  24% {
    background-position: -1057px 0;
  }
  27% {
    background-position: 0 -151px;
  }
  30% {
    background-position: -151px -151px;
  }
  33% {
    background-position: -302px -151px;
  }
  36% {
    background-position: -453px -151px;
  }
  39% {
    background-position: -604px -151px;
  }
  42% {
    background-position: -755px -151px;
  }
  45% {
    background-position: -906px -151px;
  }
  48% {
    background-position: -1057px -151px;
  }
  51% {
    background-position: 0 -302px;
  }
  54% {
    background-position: -151px -302px;
  }
  57% {
    background-position: -302px -302px;
  }
  60% {
    background-position: -453px -302px;
  }
  63% {
    background-position: -604px -302px;
  }
  66% {
    background-position: -755px -302px;
  }
  69% {
    background-position: -906px -302px;
  }
  72% {
    background-position: -1057px -302px;
  }
  75% {
    background-position: 0px -453px;
  }
  78% {
    background-position: -151px -453px;
  }
  81% {
    background-position: -302px -453px;
  }
  84% {
    background-position: -453px -453px;
  }
  87% {
    background-position: -604px -453px;
  }
  90% {
    background-position: -755px -453px;
  }
  93% {
    background-position: -906px -453px;
  }
  97% {
    background-position: -1057px -453px;
  }
}
@keyframes eyes {
  0% {
    background-position: -640px top;
  }
  33% {
    background-position: -800px top;
  }
  66% {
    background-position: -960px top;
  }
}
